In [90]:
import pandas as pd 
import numpy as np

df = pd.read_table('spambase.data', header=None, delimiter=',')
df = df.sample(frac=1)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
135,0.0,0.39,0.39,0.0,0.19,0.0,0.0,0.19,0.0,0.00,...,0.000,0.128,0.0,0.160,0.160,0.0,2.128,31,730,1
3756,0.0,0.00,1.10,0.0,0.00,0.0,0.0,0.00,0.0,0.27,...,0.543,0.349,0.0,0.000,0.000,0.0,2.724,79,316,0
4113,0.0,0.00,0.00,0.0,0.00,0.6,0.0,0.00,0.0,0.60,...,0.094,0.000,0.0,0.094,0.189,0.0,1.976,15,83,0
3147,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.00,...,0.000,0.000,0.0,0.000,0.000,0.0,2.166,4,13,0
1521,0.0,0.00,0.00,0.0,0.00,0.0,0.0,0.00,0.0,0.00,...,0.000,0.000,0.0,0.000,0.000,0.0,1.545,4,17,1

In [91]:
split = len(df) * 2 // 3

X_tr = df.iloc[:split, :-1].to_numpy()
X_v = df.iloc[split:, :-1].to_numpy()

Y_tr = df.iloc[:split, -1].to_numpy()
Y_v = df.iloc[split:, -1].to_numpy()

X_tr.shape, X_v.shape, Y_tr.shape, Y_v.shape

((3067, 57), (1534, 57), (3067,), (1534,))

In [92]:
ones = np.ones((X_tr.shape[0], 1))
diagY_tr = np.diag(Y_tr)
a = np.linalg.pinv(diagY_tr @ X_tr @ X_tr.T @ diagY_tr) @ ones
a.shape

(3067, 1)

In [93]:
W = X_tr.T @ diagY_tr @ a
W.shape

(57, 1)

In [102]:
Yhat_tr = X_tr @ W
Yhat_v = X_v @ W
Yhat_tr.shape, Yhat_v.shape

((3067, 1), (1534, 1))