In [136]:
import numpy as np
import pandas as pd

df = pd.read_table('spambase.data', delimiter=',', header=None)

df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [137]:
# Insert Bias Feature 
df.insert(0, 0, 1, allow_duplicates=True)
# Shuffle df
df = df.sample(frac=1)

df.head()

,0,0,1,2,3,4,5,6,7,8,...,48,49,50,51,52,53,54,55,56,57
3065,1,0.0,1.07,0.0,0.0,1.79,0.35,0.00,0.0,0.0,...,0.00,0.244,0.061,0.244,0.000,0.0,1.974,22,152,0
1761,1,0.0,0.37,0.0,0.0,0.00,0.74,1.12,0.0,0.0,...,0.00,0.000,0.000,0.223,0.223,0.0,2.021,10,93,1
4362,1,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.00,0.000,0.000,0.000,0.000,0.0,1.000,1,4,0
2283,1,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.00,0.312,0.039,0.000,0.117,0.0,1.890,13,189,0
2073,1,0.0,0.00,0.0,0.0,0.00,0.00,0.00,0.0,0.0,...,0.11,0.276,0.110,0.055,0.055,0.0,2.870,15,244,0

In [138]:
# Split into training and validating dfs
split_index = len(df) * 2 // 3
df_tr = df.iloc[:split_index, :]
df_v = df.iloc[split_index:, :]

df_tr.shape, df_v.shape

((3067, 59), (1534, 59))

In [139]:
# Separate target values 
y_tr = df_tr.iloc[:, -1].to_numpy()
y_v = df_v.iloc[:, -1].to_numpy()

y_tr.shape, y_v.shape

((3067,), (1534,))

In [140]:
# Drop target values from df
drop_target_values = lambda df: df.iloc[:, :-1]

df_tr = drop_target_values(df_tr).to_numpy()
df_v = drop_target_values(df_v).to_numpy()

df_tr

array([[1.000e+00, 0.000e+00, 1.070e+00, ..., 1.974e+00, 2.200e+01,
        1.520e+02],
       [1.000e+00, 0.000e+00, 3.700e-01, ..., 2.021e+00, 1.000e+01,
        9.300e+01],
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 1.000e+00,
        4.000e+00],
       ...,
       [1.000e+00, 0.000e+00, 0.000e+00, ..., 1.000e+00, 1.000e+00,
        8.000e+00],
       [1.000e+00, 1.180e+00, 3.900e-01, ..., 6.652e+00, 7.600e+01,
        6.320e+02],
       [1.000e+00, 1.190e+00, 0.000e+00, ..., 3.090e+00, 1.100e+01,
        6.800e+01]], shape=(3067, 58))

In [ ]:
# Standadrize data based on TRAINING data only 
m = np.mean(df_tr, axis=0, keepdims=True)
s = np.std(df_tr, axis=0, keepdims=True)
zScore = lambda X: (X - m) / s

df_tr = zScore(df_tr)
df_v = zScore(df_v)
df_tr

array([[        nan, -0.34256072,  0.68909654, ..., -0.106862  ,
        -0.14347007, -0.20444099],
       [        nan, -0.34256072,  0.13119696, ..., -0.10520355,
        -0.19776704, -0.29956208],
       [        nan, -0.34256072, -0.16369281, ..., -0.1412307 ,
        -0.23848977, -0.44304983],
       ...,
       [        nan, -0.34256072, -0.16369281, ..., -0.1412307 ,
        -0.23848977, -0.43660095],
       [        nan,  3.55185347,  0.14713695, ...,  0.05820656,
         0.10086633,  0.56942553],
       [        nan,  3.58485698, -0.16369281, ..., -0.06748267,
        -0.19324229, -0.33986763]], shape=(3067, 58))